

  /* Set a max height for the table body */
#PaimentServices .scrollable-tbody {
  display: block;
  max-height: 200px; /* Adjust this height to control scrolling */
  overflow-y: auto;
}

/* Make sure the table columns line up */
#PaimentServices table {
  width: 100%;
  border-collapse: collapse;
}

#PaimentServices thead, #PaimentServices tfoot {
  background-color: #f9f9f9;
}

#PaimentServices thead th,
#PaimentServices tfoot th {
  top: 0; /* Fix header at the top */
  background-color: white;
  z-index: 1;
}

#PaimentServices tfoot th {
  bottom: 0; /* Fix footer at the bottom */
  background-color: #f9f9f9;
  z-index: 1;
}

/* Aligning column widths for consistency */
#PaimentServices thead th, tbody td, tfoot th {
  width: 16.66%; /* Adjust according to the number of columns */
  text-align: center;
}

#PaimentServices .fixed-footer {
  position: sticky;
  bottom: 0;
  background-color: white; /* Match your table background */
}

#PaimentServices .details-info {
  font-size: 0.8rem;
}
.btn-paiementd{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
.paye-btn, .afficher-facture-btn{
  width: 100px;
  font-size: 0.7em;
  font-weight: bolder;
}

.alert-notif {
  top: 93px;
  right: 0;
}


.timbre-fiscal, .span-fiscale{
  background-color: rgba(255, 255, 255, 0);
  font-size: 1em;
  width: fit-content;
}
#itimbreFiscale {
  color: black;
  max-width: 100px;
  max-height: 20px;
  text-align: center;
}

